.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}
.App {
  background-color: lightgray;
  width: 100%;
  height: 100%;
}

.navbar {
  width: 10rem;
  background-color: rgb(175, 142, 209);
  list-style: none;
  margin-right: 0;
  padding-right: 0;
}

.btn-room {
  display: inline;
  width: 100%;
}

.btn-add-room {
  display: inline;
  width: 100%;
}

.icn-room-nav {
  margin-right: 1rem;
}
